@{
    ViewData["Title"] = "Блог";
}

<link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4 animate__animated animate__backInUp">Добро пожаловать!</h1>
</div>
