@using BlogWebApp.BLL.ViewModels.Roles
@model ShowRoleViewModel

@{
    ViewData["Title"] = "Роли";
}

<h2>Роль</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-floating">
                <input asp-for="Name" class="form-control" disabled/>
                <label asp-for="Name" class="form-label"></label>
            </div>
            <div class="form-floating">
                <textarea asp-for="Description" class="form-control" style="height:150px;" disabled >@Model.Description</textarea>
                <label asp-for="Description" class="form-label"></label>
            </div>
        </form>
    </div>
</div>